@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_trainee.cshtml";
}

@section Scripts{
    <script>
        let html = "";
        const urlImg = "https://localhost:5001/store-image/";
        console.log(user.id)
        $.ajax({
            url: "https://localhost:5001/api/Users/GetCourseByUserId?Id="+user.id,
            type: "GET",
            success: function (response) {
                console.log(response)
                for (let i of response.resultObj.courses) {
                    html += `<tr>
                          <td>${i.name}</td>
                          <td>${i.description}</td>
                          <td><img src=${urlImg+i.image} style="height:50px;width:100px" /></td>
                          <td>${moment(i.start_Date).format("DD/MM/YYYY")}</td>
                          <td>${moment(i.end_Date).format("DD/MM/YYYY")}</td>
                          <td>${moment(i.createTime).format("DD/MM/YYYY")}</td>
                          <td><label class="badge badge-danger">Pending</label></td>
                        </tr>`
                }
                console.log(moment().format())
                $("#content").html(html);
            }
        })
    </script>
}

<section>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Courses Table</h4>
                  <p class="card-description">
                    Add Course <code>.Create</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Course Name</th>
                          <th>Course Description</th>
                          <th>Course Image/th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Creation Time</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody id="content">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    </div>
</section>
