<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" href="~/css/site.css" />-->
    <title>My Group</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/girt.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/queries.css">
</head>
<body>
    <header id="home">
        <nav>
            <a href="#"><img class="logo" src="~/img/Mygroup.jpeg" alt="logo"></a>
            <ul class="main-nav">
                <li><a href="#about">About</a></li>
                <li><a href="#products">Login</a></li>
                <li><a href="#contact"> Sign up</a></li>
            </ul>
            <i class="fas fa-bars mobile-nav-icon"></i>
        </nav>
        <div class="clearfix"></div>
        <div class="row">
            <div class="heading-main-box">
                <h1>
                    We will study <br> English together <br>
                    So join with us.
                </h1>
                <a href="#about" class="btn">Tell me more </a>
                <a href="#products" class="btn"> Join us </a>
            </div>
        </div>
    </header>

    <!--  <div class="container">
          <main role="main" class="pb-3">

          </main>
      </div>-->

    @RenderBody()


    <footer>
        <p>
            Copyright &copy; 2021 by FastBoy Team
        </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="vendors/js/jquery.waypoints.min.js"></script>
    <script src="resources/js/scripts.js"></script>
    <!-- <header>
          <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
              <div class="container">
                  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                      <ul class="navbar-nav flex-grow-1">
                          <li class="nav-item">
                              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
      </header>-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
