@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Classes";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    ViewData["head-title"] = "Class Control";
}
@section Scripts{
    <script>
        let currentPage = 1;
        function getAllClass(filter, page) {
            let html = "";
            currentPage = page;
            $.ajax({
                url: `https://localhost:5001/api/Classes?SkipCount=1&MaxResultCount=10&Filter=t`,
                type: "GET",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + user.accessToken);
                },
                success: datas => {
                    console.log(datas.totalCount)
                    renderPagination(datas.totalCount, page);
                    for (var data of datas.items) {
                        const updateTime = data.updateTime == null ? "No Time Update" : moment(data.updateTime).format("DD/MM/YYYY");
                        html += `<tr>
                                                                                     <th scope="row">`+ data.name + `</th>
                                                                                     <td>`+ data.description + `</td>
                                                                                     <td>`+ moment(data.createTime).format("DD/MM/YYYY") + `</td>
                                                                                     <td>`+ updateTime + `</td>
                                                                                     <td class='action-center' scope="col">
                                                                                        <div class="btn-group">
                                                                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                                                Action
                                                                                            </button>
                                                                                            <div class="dropdown-menu">
                                                                                                <a class="dropdown-item" onclick='detailClass(${JSON.stringify(data)})'>Detail</a>
                                                                                                <a class="dropdown-item" onclick='showModalUpdate(${JSON.stringify(data)})'>Update</a>
                                                                                                <a class="dropdown-item" onclick='deleteClass(${JSON.stringify(data.id)})'>Delete</a>
                                                                                                <div class="dropdown-divider"></div>
                                                                                                
                                                                                            </div>
                                                                                        </div>
                                                                                       </td>
                                                                                       </tr>`;
                    }
                    $("#body-class").html(html);
                    $("#tableclass").removeClass("d-none");
                    $("#spinLoaded").hide();
                }
            })
        }
        getAllClass('', currentPage);


        //add
        getAllClass('', currentPage);
        console.log(user.accessToken)
        function getListClass(flag) {
            if (flag == true) {
                $("#update").hide();
                $("#create").show();
                $("#modallabelClass").text("Add class");
            }
            $.ajax({
                url: "https://localhost:5001/api/Classes/",
                type: "GET",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + user.accessToken);
                },
                success: response => {
                    console.log(response);
                    let html = "<option selected></option>";
                    for (let i of response.items) {
                        html += `<option value='` + i.id + `'>` + i.name + `</option>`
                    }
                }
            })
        }
        function addNewClass() {
            $.ajax({
                url: `https://localhost:5001/api/Classes`,
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + user.accessToken);
                },
                data: JSON.stringify({
                    "name": $("#name").val(),
                    "description": $("#description").val()}),
                success: response => {
                    $("#createModal").modal("hide");
                    swal({
                        title: "Create Success",
                        text: "Hihi!",
                        icon: "success",
                        type: "OK"
                    })
                    getAllClass('', currentPage);
                    $("#name").val();
                    $("#description").val();
                },
                cache: false,
                contentType: 'application/json; charset=utf-8',
            
            })
        }
        let currentValueUpdate;
        //Update
        function showModalUpdate(data) {
            $("#create").hide();
            $("#update").show();
            getListClass(false);
            console.log("vo");
            $("#modallabelClass").text("Update class");
            $("#createModal").modal("show");
            $("#name").val(data.name);
            $("#description").val(data.description);
            currentValueUpdate = data;
        }
        function updateClass(data) {
            const newdata = {
                "id": data.id,
                "name": $("#name").val(),
                "description": $("#description").val(),
            }
            console.log(newdata);
            $.ajax({
                contentType: 'application/json; charset=UTF-8',
                url: `https://localhost:5001/api/Classes`,
                type: "PUT",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + user.accessToken);
                },
                dataType: "json",
                data: JSON.stringify(newdata),
                success: response => {
                    $("#createModal").modal("hide");
                    swal({
                        title: "Update Success",
                        text: "Hihi!",
                        icon: "success",
                        type: "OK"
                    })
                    getAllClass('', currentPage);
                    $("#name").val();
                    $("#description").val();
                },
                cache: false,
            })
        }

        //Delete

        function deleteClass(id) {
            currentIdelete = id;
            $("#deleteModal").modal("show");
        }
        function confirmDelete() {
            $.ajax({
                url: "https://localhost:5001/api/Classes/" + currentIdelete,
                type: "DELETE",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + user.accessToken);
                },
                success: response => {
                    swal({
                        title: "Delete Success",
                        text: "Hihi!",
                        icon: "success",
                        type: "OK"
                    })
                    $("#deleteModal").modal("hide");
                    getAllClass('', currentPage);
                }
            })
        }
        let currentIdelete;


        function detailClass(data) {
            $("#ClassDetail").modal("show");
            let htmlDetailClass = "";
            console.log(data.user)
            for (let i of data.user) {
                console.log(i);
                htmlDetailClass += `<tr><td>${i.fullName}</td><td>${i.email}</td><td><div class='btn btn-danger d-flex justify-content-center'><i class="fas fa-trash-alt"></i></td></tr>`
            }
            $("#listClass").html(htmlDetailClass)
        }

    </script>
}

<h2 onclick="getListClass(true)" data-toggle="modal" data-target="#createModal">Create</h2>
<div class="justify-content-center" style="display:flex" id="spinLoaded">
    <div class="spinner-border text-success " role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<table id="tableclass" class="d-none table table-striped table-hover">
    <thead style=" background: rebeccapurple;">
        <tr>
            <th scope="col">Class Name</th>
            <th scope="col">Class Description</th>
            <th scope="col">Create Time</th>
            <th scope="col">Update Time</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody id="body-class">
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination" id="paginationTopic">
    </ul>
</nav>

<!-- Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Do you want delete it ??</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Alert!!!!</h2>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" id="update" onclick="confirmDelete()" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Detail -->
<div class="modal fade" id="ClassDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modallabelTopic">Role Assign</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th>Tên Học sinh</th>
                        <th>Mail</th>
                        <th class="text-center">Action</th>
                    </tr>
                    <tbody id="listClass">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Update and Add -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modallabelClass">New Class</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addNewClass" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Class Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter name of class">
                    </div>
                    <div class="form-group">
                        <label for="description">Class Description</label>
                        <input type="text" class="form-control" id="description" placeholder="Enter description of class">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="create" onclick="addNewClass()" type="button">Create</button>
                <button class="btn btn-primary" id="update" onclick="updateClass(currentValueUpdate)" type="button">Update</button>
            </div>
        </div>
    </div>
</div>